block content
	head
		title Completionist
	body
		#header
			h1#title Completionist
		#tasks
			form#addForm(action='addTask', method='POST')
				input(type='text', name='newtask', placeholder='add new task', autofocus='')
				button Add

			#taskList_active
			#taskList_completed
		#footer
			p Copyright © 2019 Charlie Bignell

block append readyscripts
	script.

		// Get the data sent from the backend
		const tasks_active = !{ JSON.stringify(tasks) }
		const tasks_complete = !{ JSON.stringify(completed) }

block append scripts
	link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet")
	link(rel='stylesheet', href='/stylesheets/main.css')
	link(rel='stylesheet', href='/stylesheets/tasklist.css')
	link(rel='stylesheet', href='/stylesheets/header.css')
	script(type='application/javascript', src='/js/main.js')