block content
	head
		title Completionist
	body
		#header
			h1#title Completionist

		#form
			form(action='addTask', method='POST')
				input#focus(type='text', name='name', placeholder='name', autofocus='')
				input#sub(type='text', name='sub', placeholder='description')
				button Add

		#tasks
			#taskList_active
			#taskList_completed

		#footer
			p Copyright © 2019 Charlie Bignell

block append readyscripts
	script.

		// Get the data sent from the backend
		const tasks_active = !{ JSON.stringify(tasks) }
		const tasks_complete = !{ JSON.stringify(completed) }

block append scripts
	link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet")

	link(rel='stylesheet', href='/stylesheets/main.css')

	//- These are separated into different files to make it all easier to manage and understand
	link(rel='stylesheet', href='/stylesheets/tasklist.css')
	link(rel='stylesheet', href='/stylesheets/header.css')
	link(rel='stylesheet', href='/stylesheets/form.css')
	link(rel='stylesheet', href='/stylesheets/footer.css')

	script(type='application/javascript', src='/js/main.js')