body{
    font-family: 'Roboto', sans-serif;
    padding: 0 15px;
    user-select: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: lightgrey;
    margin: 0;
}

#tasks, #header, #form, #footer{
    background-color: white;
    width: 70%;
}