body{
    font-family: 'Roboto', sans-serif;
    padding: 0 15px;
    user-select: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: lightgrey;
    margin: 0;
}

#footer{
    width: 70%;
    text-align: center;
    padding-bottom: 5px;
}

#footer > p {
    margin: 0;
    color: grey;
}

#tasks, #header, #footer{
    background-color: white;
}