#tasks{
    width: min-content;
    width: 70%;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}

.task{
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
}

.activeTask:hover, .completedTask:hover{
    cursor: pointer;
}

.completedTask{
    color: grey;
    text-decoration: line-through;
}

.completedTask, .activeTask{
    width: max-content;
    padding: 2px 0;
    margin: 5px 0;
}

#addForm{
    display: flex;
    flex-flow: row nowrap;
    margin: 20px;
}

#taskList_active, #taskList_completed{
    margin: 10px;
}